<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="style.css">
  <title>LogNotes notetaking application</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          <a href="/">LogNotes</a>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Note Editor</h2>
        <p><a href="/addnoteform">Create a new note</a></p>

        {{#addNote}}
        <form action="/addnote" method="post" enctype="multipart/form-data">
          <label for="title">Title</label>
          <input type="text" name="title" id="newtitle" />
          <br>
          <label for="content">Content</label>
          <input type="text" name="content" id="newcontent" />
          <br>
          <label for="starred">Starred</label>
          <input type="checkbox" name="starred" id="newstarred" />
          <br>
          <label for="image">Image</label>
          <input type="file" accept="image/* " name="image" id="newimage" />
          <br>
          <input type="submit" />
        </form>
        {{/addNote}}
        {{#editNote}}
        <h2>Edit Note</h2>
        <form action="/editnote/{{formdata.rowid}}" method="post">
          <label for="title">Title</label>
          <input type="text" name="title" value="{{formdata.title}}" />
          <br>
          <label for="content">Content</label>
          <input type="text" name="content" value="{{formdata.content}}" />
          <br>
          <label for="starred">Starred</label>
          <input type="checkbox" name="starred" value="{{formdata.starred}}" />
          <br>
          <input type="submit" />
        </form>
        {{/editNote}}
        {{#replaceImage}}
        <h2>Replace Image</h2>
        <form action="/replaceimage/{{formdata.rowid}}" method="post" enctype="multipart/form-data">
          <label for="image">Image</label>
          <input type="file" accept="image/* " name="image" value="{{formdata.image}}" required />
          <br>
          <input type="submit" />
        </form>
        {{/replaceImage}}
      </div>
      <div class="col">
        {{#errorbox}}
        <h3>ERRORS:</h3>
        <ul>
          {{#errors}}
          <li>{{message}}</li>
          {{/errors}}
        </ul>
        {{/errorbox}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Existing Notes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Sort Notes</h3>
        <form action="/sort" method="get">
          <h5>Sort order:</h5>
          <label for="order">Ascending</label>
          <input type="radio" id="sortascend" name="order" value="ASC" {{#sortascend}} checked {{/sortascend}} required>
          <label for="order">Descending</label>
          <input type="radio" id="sortdescend" name="order" value="DESC" {{#sortdescend}} checked {{/sortdescend}}>
          <br>
          <br>
          <h5>Sort by:</h5>
          <input type="radio" id="titlesort" name="sortby" value="title" {{#sorttitle}} checked {{/sorttitle}} required>
          <label for="titlesort">Title</label>
          <br>
          <input type="radio" id="datesort" name="sortby" value="timestamp" {{#sortdate}} checked {{/sortdate}}>
          <label for="datesort">Date Created</label>
          <br>
          <input type="radio" id="charcountsort" name="sortby" value="charcount" {{#sortcharcount}} checked
            {{/sortcharcount}}>
          <label for="charcountsort">Character Count</label>
          <br>
          <input type="submit" />
        </form>
      </div>
      <div class="col">
        <h4>Filter:</h4>
        <form action="/filter" method="get">
          <label for="filter">Starred</label>
          <input type="checkbox" id="filterstarred" name="starred" onChange="this.form.submit()" {{#checked}} checked
            {{/checked}}>
          <br>
          <!--<input type="submit" />-->
        </form>
        <p>
          <a href="/resetdatabase">Delete all notes</a>
        </p>
      </div>
    </div>
    {{#notes}}
    <div class="row">
      <div class="col">
        <h3>Title: {{title}}</h3>
        <p>{{content}}</p>
        <div class="col">
          <div class="row">
            <div class="col">
              {{#starred}}
              <i class="bi bi-star-fill"></i>
              {{/starred}}
              {{^starred}}
              <i class="bi bi-star"></i>
              {{/starred}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Date created:
                <br>
                {{timestamp}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>{{charcount}} characters</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <img src="/image/{{rowid}}">
      </div>
    </div>
    {{/notes}}
    <!--
    <table>
        <tr>
            <th>Row ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Starred</th>
            <th>Image</th>
            <th>Timestamp</th>
            <th>Character Count</th>
            <th>Delete</th>
            <th>Edit Content</th>
            <th>Replace Image</th>
            <th>Delete Image</th>

        </tr>

        {{#notes}}
        <tr>
            <td>{{ rowid }}</td>
            <td>{{ title }}</td>
            <td>{{ content }}</td>
            <td>{{ starred }}</td>
            <td><img src="/image/{{rowid}}"></td>
            <td>{{ timestamp }}</td>
            <td>{{ charcount }}</td>
            <td><a href="/deletenote/{{rowid}}">Delete
            <td><a href="/editnoteform/{{rowid}}">Edit  
            <td><a href="/replaceimageform/{{rowid}}">Replace Image
            <td><a href="/deleteimage/{{rowid}}">Delete Image
         </tr>
         {{/notes}}

    </table>
-->
  </div>
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>