<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LogNotes notetaking application</title>
  </head>
  <body>
    
    <h1>LogNotes</h1>

    <h2>New Note </h2>
    <p><a href="/addnoteform">Create a new note</a><p>
    {{#addNote}}
    <form action="/addnote" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" /><br>

        <label for="content">Content</label>
        <input type="text" name="content" /><br>
        
        <label for="starred">Starred</label>
        <input type="checkbox" name="starred" /><br>
        
        <label for="image">Image</label>
        <input type="file" accept="image/* "name="image" /><br>
        
        <label for="timestamp">Timestamp</label>
        <input type="text" name="timestamp" /><br>
        
        <label for="charcount">Character Count</label>
        <input type="number" name="charcount" /><br>

        <input type="submit"/>
    </form>
    {{/addNote}}

    {{#editNote}}
    <h2>Edit Note</h2>
    <form action="/editnote/{{formdata.rowid}}" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{formdata.title}}" /><br>

        <label for="content">Content</label>
        <input type="text" name="content" value="{{formdata.content}}"/><br>
        
        <label for="starred">Starred</label>
        <input type="checkbox" name="starred" value="{{formdata.starred}}"/><br>
        
        <label for="image">Image</label>
        <input type="file" accept="image/* "name="image" value="{{formdata.image}}"/><br>
        
        <label for="timestamp">Timestamp</label>
        <input type="text" name="timestamp" value="{{formdata.timestamp}}"/><br>
        
        <label for="charcount">Character Count</label>
        <input type="number" name="charcount" value="{{formdata.charcount}}"/><br>

        <input type="submit"/>
    </form>
    {{/editNote}}

    <h3>Existing Notes</h3>
    <table>
        <tr>
            <th>Row ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Starred</th>
            <th>Image</th>
            <th>Timestamp</th>
            <th>Character Count</th>
            <th>Delete</th>

        </tr>

        {{#notes}}
        <tr>
            <th>{{ rowid }}</th>
            <td>{{ title }}</td>
            <td>{{ content }}</td>
            <td>{{ starred }}</td>
            <td>{{ image }}</td>
            <td>{{ timestamp }}</td>
            <td>{{ charcount }}</td>
            <td><a href="/deletenote/{{rowid}}">Delete
            <td><a href="/editnoteform/{{rowid}}">Edit  
            
         </tr>
         {{/notes}}
    </table>
  </body>
</html>