<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LogNotes notetaking application</title>
  </head>
  <body>
    
    <h1>LogNotes</h1>

    <h2>New Note </h2>
    <<h3>Existing Notes</h3>
  </body>
</html>